@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1920px;

@text-color:                  #000;
@orange:                      #ff7435;
@orange-dark:                 #e85715;
@grey:                        #838383;

@ptserif:                 	  'PT serif', serif;
@ptsans:                      'PT sans', sans-serif;
@firasans:                    'Fira Sans', sans-serif;
@font-size:                   14px;
