.location {
	margin-top: 31px;
	text-align: center;

	&__title {
		font-family: @ptserif;
		font-size: 26px;
		font-weight: normal;
		letter-spacing: 2px;
	}
	&__map {
		text-align: left;
		margin-top: 32px;
	}
	&__map iframe {
		height: 400px;
		width: 100%;
		display: inline-block;
	}
	&__transport {
		margin-top: 33px;
	}

	@media screen and (min-width:420px) {

		&__title {
			font-size: 30px;
		}
	}
}