.location {
	padding-top: 35px;
	text-align: center;

	&__title {
		font-family: @ptserif;
		font-size: 26px;
		padding: 0 80px 40px 80px;
		font-weight: normal;
	}
	&__map {
		text-align: left;
	}
	&__map iframe {
		height: 400px;
		width: 100%;
		display: inline-block;
	}
	&__transport {
		padding: 40px 0 90px 0;
	}
}