.main-nav {

	&__burger {
		display: inline-block;
		cursor: pointer;
    	width: 28px;
    	height: 20px;
    	text-decoration: none;
	}
	&__burger span {
		width: 28px;
    	height: 4px;
    	background-color: #ff7435;
    	margin-bottom: 4px;
    	display: block;
	}
	
	@media screen and (max-width: 420px) {
		
		& ul {
			list-style: none;
		}
		& li {
			text-align: center;
			border-bottom: 1px solid #ebebeb;
			border-left: 1px solid #ebebeb;
			border-right: 1px solid #ebebeb;
		}
		& a {
			display: inline-block;
			padding: 19px 0;
			text-decoration: none;
			color: #000;
			font-size: 14px;
			font-family: @firasans;
		}

	}
}