.page-footer {
	text-align: center;
	padding: 30px 0 55px 0;

	@media screen and (max-width: 420px) {

		&__address {
			display: none;
		}
	}
	@media screen and (max-width: 420px) {

		&__contacts {
			display: none;
		}
	}
}