.page-footer {
	text-align: center;
	padding: 30px 0 22px 0;
	border-top: 1px solid #ebebeb;

	&__social-links {
		display: flex;
		width: 145px;
		margin: auto;
		justify-content: space-around;
		padding-top: 10px;
	}

	@media screen and (max-width: 420px) {

		&__address {
			display: none;
		}
	}
	@media screen and (max-width: 420px) {

		&__contacts {
			display: none;
		}
	}
}