.promo {
	background: url(../img/roomList/promoBgr.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	
	&__title {
		font-family: @ptserif;
		color: #fff;
		font-size: 30px;
		padding: 65px 20px;
	}
	&__text {
		display: none;
	}

	@media screen and (min-width: 420px) {

	}
}