.recommendations {
	background: url(../img/recommendationBgr.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin-top: 40px;

	&__inner {
		padding-bottom: 50px;
	}	
	&__title {
		font-family: @ptserif;
		font-size: 26px;
		color: #fff;
		font-weight: normal;
		padding-top: 43px;
	}
	&__item {
		display: inline-block;
	}
	&__item--320:nth-child(2) {
		margin-top: 32px;
	}
	&__item--320:nth-child(3) {
		margin-top: 20px;
	}
	&__item--768 {
		display: none;
	}
	&__item-inner {
		text-decoration: none;
		color: #000;
		line-height: 0;
	}
	&__item-img {
		width: 100%;
	}
	&__item-img img {
		width: 100%;
		height: 100%;
	}
	&__item-info {
		background-color: #fff;
		padding: 39px 0 50px 0;
		line-height: 1.3;
	}
	&__item-info span {
		display: block;
	}
	&__item-name {
		font-family: @ptserif;
		font-size: 26px;
	}
	&__item-price {
		font-family: @firasans;
		font-size: 14px;
		font-weight: bold;
	}
	&__item-price b {
		font-size: 18px;
		color: @orange;
	}
	&__item--768 {
		margin-top: 31px;
	}
	&__item:nth-child(4) {
		margin-right: 16px;
	}

	@media screen and (min-width: 420px) {
		
		&__item--320 {
			display: none;
		}
		&__item--768 {
			display: inline-block;
		}
		&__title br {
			display: none;
		}
		&__title {
			font-size: 30px;
			letter-spacing: 2px;
		}
	}
}