.rest-switcher {
	
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__item--family {
		background: url(../img/bannerPhoto.jpg);
	}
	&__item--company {
		background: url(../img/bannerPhoto.jpg);
		display: none;
	}
	&__item {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		display: none;
		opacity: 0;
		transition: 1s;
	}
	&__item.is-active {
		display: block;
		opacity: 1;
		transition: 1s
	}
	&__item-title {
		font-weight: 600;
		font-size: 18px;
		font-family: @ptserif;
		padding-bottom: 15px;
	}
	&__item-inner {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 160px;
		padding: 5px 15px;
		background: white;
		display: inline-block;
		opacity: 0.9;
	}
	&__text {
		font-size: 16px;
		font-family: @firasans;
	}
	&__tab-box {
		padding-top: 20px;
		text-align: center;
	}
	&__tab-item {
		display: inline-block;
		color: @grey;
		font-size: 14px;
		font-family: @firasans;
		padding: 0 7px;
		position: relative;
	}
	&__tab-item:before {
		content: '';
		display: none;
		position: absolute;
		border-bottom: 2px solid #ff7435;
    	width: 30px;
    	height: 1px;
    	left: 50px;
    	top: 25px;
	}
	&__tab-item.is-active:before {
		display: block;
	}
	&__tab-item.is-active{
		color: @orange;
		transition: 0.3s;
	}
}