.rest-options {
	background: url(../../img/restPhoto.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -23px;
	text-align: center;
	padding: 40px 0 100px 0;
	border-bottom: 1px solid #c4d7e5;

	&__title {
		font-size: 26px;
		font-family: @ptserif;
		font-weight: normal;
		display: inline-block;
	}
	&__description {
		padding: 35px 30px 0px 30px;
		font-family: @firasans;
		font-size: 16px;
		font-weight: normal;
	}

	@media screen and (max-width: 420px) {
		&__list {
			display: none;
		}
	}

}