.rest-switcher {
	
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__item-family {
		background: url(../img/bannerPhoto.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
	}
	&__item-company {
		background: url(../img/bannerPhoto.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		display: none;
	}
	&__item-title {
		font-weight: 600;
		font-size: 18px;
		font-family: @ptserif;
		padding-bottom: 15px;
	}
	&__item-inner {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 160px;
		padding: 5px 15px;
		background: white;
		display: inline-block;
		opacity: 0.9;
	}
	&__text {
		font-size: 16px;
		font-family: @firasans;
	}
}