.room-catalog {
	text-align: center;

	&__title {
		font-family: @ptserif;
		font-size: 30px;
		margin-top: 40px;
		font-weight: normal;
		letter-spacing: 2px;
	}
	&__list {
		margin-top: 31px;
	}
	&__item {
		background-color: #fafafa;
		border: 1px solid #ebebeb;
		margin-bottom: 50px;
    	display: inline-block;
	}

	@media screen and (min-width:768px) {

		&__item {
			width: 730px;
		}
	}
}