.shares {
	padding: 33px 0 0 0;
	text-align: center;

	&__title {
		font-family: @ptserif;
		font-size: 26px;
		font-weight: normal;
	}
	&__slider {
		margin-top: 23px;
	}
	&__slide {
		background: url(../img/shresSlide.png);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: left;
		width: 100%;
	}
	&__slide-info {
		display: inline-block;
		background-color: white;
		width: 295px;
		margin: 166px 23px 23px 0;
    	padding: 14px 19px 9px 19px;
		opacity: 0.9;
	}
	&__slide-title {
		font-family: @firasans;
		font-size: 18px;
		color: @orange;
	}
	&__slide-text {
		font-family: @firasans;
		font-size: 16px;
	}
	&__slider .slick-dots li {
		display: inline-block;
		padding-top: 20px;
	}
	&__slider .slick-dots .slick-btn {
		position: relative;
    	display: inline-block;
    	width: 20px;
    	height: 20px;
    	margin: 0 7px;
    	padding: 0;
    	cursor: pointer;
	}
	&__slider .slick-dots .slick-btn:before {
		font-family: 'slick';
    	font-size: 15px;
    	line-height: 20px;
    	padding-top: 10px;
    	position: absolute;
    	top: 15;
    	left: -15px;
    	width: 14px;
    	height: 2px;
    	content: '';
    	border: 2px solid #ff7435;
    	border-radius: 15px;
	}
	&__slider .slick-dots li.slick-active span:before {
		background-color: #ff7435;
	}

	@media screen and (min-width: 420px) {
		
		&__slide {
			background: url(../img/sharesBgr768.png) no-repeat center;
		}
		&__title br {
			display: none;
		}
		&__title {
			font-size: 31px;
    		letter-spacing: 2px;
		}
	}
}

