.social-links {

	&__link--vk {
		display: inline-block;
		background: url(../img/homeSpritesheet.png) -5px -8px;
    	background-repeat: no-repeat;
    	width: 25px;
    	height: 15px;
    }
	&__link--inst {
		display: inline-block;
		background: url(../img/homeSpritesheet.png) -66px -5px;
    	background-repeat: no-repeat;
    	width: 21px;
    	height: 21px;
	}
	&__link--fb {
		display: inline-block;
		background: url(../img/homeSpritesheet.png) -127px -4px;
    	background-repeat: no-repeat;
    	width: 23px;
    	height: 23px;
	}
}