.tabs {
	padding: 20px 20px 25px 25px;
	position: relative; 

	&__btn-left {
		text-decoration: none;
		color: #ff7435;
		font-size: 15px;
		font-family: @firasans;
		float: left;
	}
	&__btn-left:before {
		content: '';
		display: block;
		position: absolute;
		border-bottom: 2px solid #ff7435;
		width: 30px;
    	height: 5px;
    	top: 38px;
    	left: 73px;
	}
	&__btn-right {
		text-decoration: none;
		color: #838383;
		font-size: 14px;
		font-family: @firasans;
		float: right;
	}
}