.transport {

	&__bus {
		position: relative;
	}
	&__electro {
		position: relative;
		margin-top: 40px;
	}
	&__title {
		font-family: @firasans;
		font-size: 14px;
		padding: 50px 0 20px 0;
	}
	&__title--ikon-bus:before {
		content: '';
		display: block;
		position: absolute;
		border-bottom: 2px solid black;
		background: url(../img/homeSpritesheet.png) -37px 30px;
    	width: 50px;
    	height: 25px;
    	top: 5px;
    	left: 0;
    	right: 0;
    	margin: auto;
	}
	&__title--ikon-electro:before {
		content: '';
		display: block;
		position: absolute;
		border-bottom: 2px solid black;
		background: url(../img/homeSpritesheet.png) 64px -4px;
    	width: 60px;
    	height: 26px;
    	top: 5px;
    	left: 0;
    	right: 0;
    	margin: auto;
	}
	&__text {
		padding: 0 46px;
		font-family: @firasans;
		font-size: 16px;
	}
	
}